name: Build and Publish APK

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Copy APK artifact
      run: cp app/build/outputs/apk/release/app-release-unsigned.apk $GITHUB_WORKSPACE/app-release.apk

    - name: Publish Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: app-release
        path: $GITHUB_WORKSPACE/app-release.apk

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download APK artifact
        uses: actions/download-artifact@v2
        with:
          name: app-release
          path: $GITHUB_WORKSPACE

      - name: Upload APK to AWS S3
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Copy APK to S3
        run: aws s3 cp $GITHUB_WORKSPACE/app-release.apk s3://aaradhyabodadebucket/apps/
