name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload APK artifact
        uses: actions/upload-artifact@v2
        with:
          name: app-release
          path: app/build/outputs/apk/release/app-release-unsigned.apk

  upload_to_s3:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download APK artifact
        uses: actions/download-artifact@v2
        with:
          name: app-release
          path: app-release
      # Manual approval step
      - name: Request approval
        uses: mxschmitt/action-tmate@v3
        with:
          session-name: ${{ github.run_id }}
      - name: Upload APK to AWS S3
        if: github.event_name == 'workflow_run' && github.event.workflow_run.event == 'approval'
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - run: aws s3 cp app-release/app-release-unsigned.apk s3://aaradhyabodadebucket/androidapp/
